beautifulsoup4
pytest
torch
librosa
numpy
soundfile
demucs==4.0.1
dora-search>=0.1.12
treetable==0.2.5
openai-whisper>=20231101
imageio-ffmpeg>=0.4.9
# imageio-ffmpeg bundles ffprobe so Demucs Python API works
pyspellchecker
essentia==2.1b6
